to do:
train_X :
- change label to 0/1 (Normal/Attack)
- Normalize data
- Split to matrix (60 * var_length) = 60 because 1 hour
- transpose matrix to (var_lenth * 60)

train_Y :
- split to matrix @60
- if in the matrix there is 1 (attack) make label as 1 

Input shape:
(49990, 53)
Expected output shape:
train_X: (7498, 52, 60)
train_Y: (7498, 1)

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [20]:
data = pd.read_csv('WADI.csv')
# df = data['Timestamp','FIT101','LIT101','MV101','P101','P102','AIT201','AIT202','AIT203','FIT201','MV201','P201','P202','P203','P204','P205','P206','DPIT301','FIT301','LIT301','MV301','MV302','MV303','MV304','P301','P302','AIT401','AIT402','FIT401','LIT401','P401','P402','P403','P404','UV401','AIT501','AIT502','AIT503','AIT504','FIT501','FIT502','FIT503','FIT504','P501','P502','PIT501','PIT502','PIT503','FIT601','P601','P602','P603','Normal/Attack']
data.info

<bound method DataFrame.info of         1_AIT_001_PV  1_AIT_002_PV  1_AIT_003_PV  1_AIT_004_PV  1_AIT_005_PV  \
0            164.210      0.529486       11.9972       482.480      0.331167
1            164.210      0.529486       11.9972       482.480      0.331167
2            164.210      0.529486       11.9972       482.480      0.331167
3            164.210      0.529486       11.9972       482.480      0.331167
4            164.210      0.529486       11.9972       482.480      0.331167
...              ...           ...           ...           ...           ...
172798       172.915      0.583479       11.9211       466.051      0.318317
172799       172.915      0.583479       11.9211       466.051      0.318317
172800       172.915      0.583479       11.9211       466.051      0.318317
172801           NaN           NaN           NaN           NaN           NaN
172802           NaN           NaN           NaN           NaN           NaN

        1_FIT_001_PV  1_LS_001_AL  1_LS_002_AL  1_LT_001_PV  1_MV_001_STATUS  \
0           0.001273          0.0          0.0       48.482              1.0
1           0.001273          0.0          0.0       48.482              1.0
2           0.001273          0.0          0.0       48.482              1.0
3           0.001273          0.0          0.0       48.482              1.0
4           0.001273          0.0          0.0       48.482              1.0
...              ...          ...          ...          ...              ...
172798      0.001260          0.0          0.0       55.726              1.0
172799      0.001260          0.0          0.0       55.726              1.0
172800      0.001260          0.0          0.0       55.726              1.0
172801           NaN          NaN          NaN          NaN              NaN
172802           NaN          NaN          NaN          NaN              NaN

        ...  3_MV_002_STATUS  3_MV_003_STATUS  3_P_001_STATUS  3_P_002_STATUS  \
0       ...              1.0              1.0             1.0             1.0
1       ...              1.0              1.0             1.0             1.0
2       ...              1.0              1.0             1.0             1.0
3       ...              1.0              1.0             1.0             1.0
4       ...              1.0              1.0             1.0             1.0
...     ...              ...              ...             ...             ...
172798  ...              1.0              1.0             1.0             1.0
172799  ...              1.0              1.0             1.0             1.0
172800  ...              1.0              1.0             1.0             1.0
172801  ...              NaN              NaN             NaN             NaN
172802  ...              NaN              NaN             NaN             NaN

        3_P_003_STATUS  3_P_004_STATUS  LEAK_DIFF_PRESSURE  \
0                  1.0             1.0             62.6226
1                  1.0             1.0             62.6226
2                  1.0             1.0             62.6226
3                  1.0             1.0             62.6226
4                  1.0             1.0             62.6226
...                ...             ...                 ...
172798             1.0             1.0             58.8102
172799             1.0             1.0             58.8102
172800             1.0             1.0             58.8102
172801             NaN             NaN                 NaN
172802             NaN             NaN                 NaN

        PLANT_START_STOP_LOG  TOTAL_CONS_REQUIRED_FLOW  \
0                        1.0                      0.39
1                        1.0                      0.39
2                        1.0                      0.39
3                        1.0                      0.39
4                        1.0                      0.39
...                      ...                       ...
172798                   1.0                      0.00
172799                   1.0                      0.00
172800                   1.0                      0.00
172801                   NaN                       NaN
172802                   NaN                       NaN

        Attack LABLE (1:No Attack, -1:Attack)
0                                           1
1                                           1
2                                           1
3                                           1
4                                           1
...                                       ...
172798                                      1
172799                                      1
172800                                      1
172801                                      1
172802                                      1

[172803 rows x 124 columns]>

In [21]:
data.head()

,1_AIT_001_PV,1_AIT_002_PV,1_AIT_003_PV,1_AIT_004_PV,1_AIT_005_PV,1_FIT_001_PV,1_LS_001_AL,1_LS_002_AL,1_LT_001_PV,1_MV_001_STATUS,...,3_MV_002_STATUS,3_MV_003_STATUS,3_P_001_STATUS,3_P_002_STATUS,3_P_003_STATUS,3_P_004_STATUS,LEAK_DIFF_PRESSURE,PLANT_START_STOP_LOG,TOTAL_CONS_REQUIRED_FLOW,"Attack LABLE (1:No Attack, -1:Attack)"
0,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1
1,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1
2,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1
3,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1
4,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1

- change label to 0/1 (Normal/Attack)

In [22]:
data['label'] = pd.factorize(data['Attack LABLE (1:No Attack, -1:Attack)'])[0].astype(np.uint16)
data['label'].unique()

array([0, 1], dtype=uint16)

In [23]:
data.head()

,1_AIT_001_PV,1_AIT_002_PV,1_AIT_003_PV,1_AIT_004_PV,1_AIT_005_PV,1_FIT_001_PV,1_LS_001_AL,1_LS_002_AL,1_LT_001_PV,1_MV_001_STATUS,...,3_MV_003_STATUS,3_P_001_STATUS,3_P_002_STATUS,3_P_003_STATUS,3_P_004_STATUS,LEAK_DIFF_PRESSURE,PLANT_START_STOP_LOG,TOTAL_CONS_REQUIRED_FLOW,"Attack LABLE (1:No Attack, -1:Attack)",label
0,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1,0
1,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1,0
2,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1,0
3,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1,0
4,164.21,0.529486,11.9972,482.48,0.331167,0.001273,0.0,0.0,48.482,1.0,...,1.0,1.0,1.0,1.0,1.0,62.6226,1.0,0.39,1,0

- change timestamp to datetime format

In [24]:
data = data.drop(['Attack LABLE (1:No Attack, -1:Attack)'], axis=1)

In [25]:
# separate the label
train_label = data['label']
#drop timestamp, label, and ex label column
# change type to float
data = data.astype(float, errors = 'raise')
data.shape

(172803, 124)

In [26]:
data = data.drop(['label'], axis=1)

In [27]:
# normalize the data
scaler = StandardScaler()
scaler = scaler.fit(data)
df_for_training_scaled = scaler.transform(data)

In [28]:
# delete last 39 rows, because we want to reshape to 60 length 
df_for_training_scaled = df_for_training_scaled[:-3, :]
df_for_training_scaled.shape

(172800, 123)

In [29]:
# Transpose data before splitting
transposed_data = df_for_training_scaled.T
transposed_data.shape

(123, 172800)

In [30]:
splitted_data = np.hsplit(transposed_data,2880) #equally 60 length
X_train = np.asarray(splitted_data)
X_train.shape

(2880, 123, 60)

now create the label train_Y

In [32]:
train_label = np.asarray(train_label)
train_label = train_label[:-3] #remove last 39 labels
splitted_train_label = np.split(train_label,2880) #split to equally 60
yarr = np.asarray(splitted_train_label)
yarr.shape

(2880, 60)

In [33]:
def linear_search(values, search_for):
   search_at = 0
   search_res = False
# Match the value with each data element	
   while search_at < len(values) and search_res is False:
      if values[search_at] == search_for:
         search_res = True
      else:
         search_at = search_at + 1
   return search_res

In [34]:
Y_train = []
for i in range(len(yarr)):
    attacked = linear_search(yarr[i], 1) #if we find 1 in 60 label (1 hour), true = attacked, false = normal
    Y_train.append(attacked)

Y_train = np.array(Y_train).astype('uint8')

In [35]:
Y_train = np.reshape(Y_train, (len(Y_train), 1)) #reshape to match the input for cnn
Y_train.shape

(2880, 1)

In [36]:
train_X, test_X, train_Y, test_Y = train_test_split(X_train, Y_train, test_size=0.25, random_state=42, shuffle=False)

In [37]:
print("train_X shape = ", train_X.shape)
print("train_Y shape = ", train_Y.shape)
print("test_X shape = ", test_X.shape)
print("test_Y shape = ", test_Y.shape)

train_X shape =  (2160, 123, 60)
train_Y shape =  (2160, 1)
test_X shape =  (720, 123, 60)
test_Y shape =  (720, 1)

In [38]:
# save numpy array as npy file
from numpy import save
# save to npy file
save('X_train.npy', train_X)
save('y_train.npy', train_Y)
save('X_test.npy', test_X)
save('y_test.npy', test_Y)